h1 {text-align: center;
    color :rgb(9, 24, 65);}
            body {
            background-image: url('school.jpg');
            }

.links{
    display : flex;
    justify-content : flex-start;
}
.links a{
    padding : 10px;
}
.footer{
    display : flex;
    justify-content : flex-end;
}